.about {
	&__content {
		padding: $gutter;
		z-index: 2;
		position: relative;
		background-color: $white;
		display: block;
		max-width: $screen-lg;
		margin: 0 auto;
		box-shadow: 0px 0px 29px 3px rgba(0, 0 ,0, .15);
		@media (min-width: $screen-sm) {
			padding: calc($gutter * 2);		
		}
	}
	&__copy {
		text-align: center;
		font-size: 16px;
		line-height: 1.6;
		width: 100%;
		max-width: 650px;
		margin: 0 auto;
		padding-bottom: $gutter;
		h2 {
			padding-bottom: $gutter;
		}
		@media (min-width: $screen-sm) {
			font-size: 18px;
		}
	}
	.tech-list {
		text-align: left;
		padding-left: 1rem;
		@media (min-width: $screen-sm) {
			padding-left: 7rem;
		}
	}
	&__companies {
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		z-index: 2;
		position: relative;
		li {
			display: inline-block;
			padding: calc($gutter / 1.5);
			width: 33.3%;
			padding: 10px;
			@media (min-width: $screen-sm) {
				width: auto;
				padding: calc($gutter / 1.5);
			}
			img {
				height: 35px;
			}
		}
	}
}