.services {
    padding-bottom: 0;
    h2 {
        padding-bottom: 0;
    }
    &__wrap {
        max-width: $container-max-width;
        margin: 0 auto;
        @media (min-width: $screen-sm) {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }
    }
    &__service {
        width: 100%;
        text-align: center;
        padding-top: $gutter;
        @media (min-width: $screen-sm) {
            width: 50%;
            padding-top: $gutter * 2;
        }
        @media (min-width: $screen-md) {
            width: 33.3%;
        }
        h4 {
            margin: $gutter / 2 0;
            font-size: $h5-font-size;
            @media (min-width: $screen-sm) {
                margin: $gutter 0;
                font-size: $h4-font-size;
            }
        }
        .icon {
            font-size: $h1-font-size * 1.25;
            color: $grey-light-dark;
            @media (min-width: $screen-sm) {
                font-size: $h1-font-size * 1.75;
            }
        }
        &-content {
            padding: 0 $gutter / 2;
            line-height: 1.4;
            @media (min-width: $screen-xs) {
                padding: 0 $gutter;
            }
        }
    }
}