---

---
<section class="section landing" id="landing">
  <div id="landing-triangles" class="landing__triangles"></div>
  
  <div class="landing__content">
    <h1>Simon Richards</h1>
    <h2>Web Developer</h2>
  </div>
  
  <a href="#about" class="scroll-mouse" aria-label="Scroll down"></a>
</section>