---
import { FaCode, FaCogs, FaWordpress, FaEnvelope, FaServer, FaWrench,  } from "react-icons/fa";
---

<section class="section services" id="services">
  <h2 class="pb-0">Services</h2>
  <div class="mx-auto max-w-screen-2xl sm:flex sm:flex-wrap">
    <div class="basis-full text-center pt-4 sm:basis-1/2 sm:pt-4 ">
      <div class="px-4 pb-8 md:px-6 md:pb-12">
        <FaCode className="mx-auto text-gray-300 text-4xl sm:text-8xl" />
        <h3 class="my-2 sm:my-4 text-2xl">Front / Back End Development</h3>
        <p>I craft clean, semantic code using modern technologies like HTML5, CSS3, JavaScript, and PHP. My expertise includes working with libraries and frameworks such as React, Next.js, Astro, and jQuery. I also integrate headless CMS solutions to provide flexible and scalable content management. Every website I create is responsive as standard and thoroughly tested across all major browsers and devices to ensure optimal performance.</p>
      </div>
    </div>
    
    <div class="basis-full text-center pt-4 sm:basis-1/2 sm:pt-4 ">
      <div class="px-4 pb-8 md:px-6 md:pb-12">
        <FaCogs className="mx-auto text-gray-300 text-4xl sm:text-8xl" />
        <h3 class="my-2 sm:my-4 text-2xl">Content Management Systems</h3>
        <p>I have extensive experience with a wide range of content management systems, both off-the-shelf and bespoke. I work with popular platforms like WordPress, MODX, ExpressionEngine, and Contentful, as well as custom solutions built with PHP frameworks such as Laravel, CodeIgniter, and PHP-MVC. This includes expertise in headless CMS implementations, providing flexibility and scalability for your content management needs.</p>
      </div>
    </div>
    
    <div class="basis-full text-center pt-4 sm:basis-1/2 sm:pt-4 ">
      <div class="px-4 pb-8 md:px-6 md:pb-12">
        <FaWordpress className="mx-auto text-gray-300 text-4xl sm:text-8xl" />
        <h3 class="my-2 sm:my-4 text-2xl">Wordpress Development</h3>
        <p >I specialize in crafting custom WordPress themes from the ground up, tailored to your specific needs. My themes are built following security best practices and are optimized for performance and SEO. I ensure that your WordPress site is secure, fast, and search engine-friendly, providing an excellent user experience and improved visibility online.</p>
      </div>
    </div>
    
    <div class="basis-full text-center pt-4 sm:basis-1/2 sm:pt-4 ">
      <div class="px-4 pb-8 md:px-6 md:pb-12">
        <FaEnvelope className="mx-auto text-gray-300 text-4xl sm:text-8xl" />
        <h3 class="my-2 sm:my-4 text-2xl">Email Marketing</h3>
        <p>Need to reach out to your clientele? I create responsive emails for platforms like Campaign Monitor and Mailchimp, or as static HTML. These emails are thoroughly tested in multiple email clients to ensure they look great and function perfectly across different devices, ensuring optimal delivery and engagement with your audience.</p>
      </div>
    </div>
    
    <div class="basis-full text-center pt-4 sm:basis-1/2 sm:pt-4 ">
      <div class="px-4 pb-8 md:px-6 md:pb-12">
        <FaServer className="mx-auto text-gray-300 text-4xl sm:text-8xl" />
        <h3 class="my-2 sm:my-4 text-2xl">Hosting</h3>
        <p>In addition to developing your website, I provide tailored hosting solutions to ensure fast, secure, and reliable delivery. I have experience with leading hosting platforms such as AWS, Cloudflare, Vercel, and others. My hosting services include setup, configuration, and ongoing management, ensuring that your website remains up and running smoothly at all times.
        </p>
      </div>
    </div>
    
    <div class="basis-full text-center pt-4 sm:basis-1/2 sm:pt-4 ">
      <div class="px-4 pb-8 md:px-6 md:pb-12">
        <FaWrench className="mx-auto text-gray-300 text-4xl sm:text-8xl" />
        <h3 class="my-2 sm:my-4 text-2xl">Maintenance and Support</h3>
        <p>I offer comprehensive maintenance and support services to keep your website running smoothly. Whether you need an upgrade, a backup, or a quick fix, I'm here to help. My support services ensure that your site remains secure, up-to-date, and performing at its best.</p>
      </div>
    </div>
  </div>
  <p class="text-center pt-12">By choosing my services, you can be confident that your web development, CMS, WordPress, email marketing, hosting, and support needs will be met with expertise and dedication.</p>
</section>