---
import { FaCode, FaCogs, FaWordpress, FaEnvelope, FaServer, FaWrench,  } from "react-icons/fa";
---

<section class="section services" id="services">
  <h2>Services</h2>
  <div class="services__wrap">
    <div class="services__service">
      <div class="services__service-content">
        <FaCode />
        <h3>Front / Back End Development</h3>
        <p>I code using clean semantic HTML5, CSS3, JavaScript and PHP. I also use libraries such as jQuery and React and tools such as Gulp and Webpack.</p>
        <p>All my code is w3c compliant and tested across multiple browsers and devices.</p>
      </div>
    </div>
    
    <div class="services__service">
      <div class="services__service-content">
        <FaCogs />
        <h3>Content Management Systems</h3>
        <p>I have experience using a vast range of content management systems, some off the shelf (WordPress, MODX, ExpressionEngine, Grav, Contentful), but also bespoke systems using PHP frameworks (Laravel, Codeigniter, PHP-MVC), including headless CMS's.</p>
      </div>
    </div>
    
    <div class="services__service">
      <div class="services__service-content">
        <FaWordpress />
        <h3>Wordpress Development</h3>
        <p>I specialise in crafting custom Wordpress themes from the ground up to tailor your needs, I also make sure they follow security best practices and optimise them for delivery and SEO.</p>
        <p>Every website I create is responsive as standard, working across mobiles, tablets and desktops.</p>
      </div>
    </div>
    
    <div class="services__service">
      <div class="services__service-content">
        <FaEnvelope />
        <h3>Responsive Email</h3>
        <p>Do you need to reach out to your clientele? I can create responsive emails for Campaign Monitor, Mailchimp or provide them as static HTML, these emails are tested in multiple email clients to ensure optimal delivery.</p>
      </div>
    </div>
    
    <div class="services__service">
      <div class="services__service-content">
        <FaServer />
        <h3>Hosting</h3>
        <p>As well as crafting your website I can provide the best hosting solution to ensure a fast, secure and reliable delivery.</p>
      </div>
    </div>
    
    <div class="services__service">
      <div class="services__service-content">
        <FaWrench />
        <h3>Maintenance and Support</h3>
        <p>Whether its an upgrade, a backup or a website fix, I'm sure I can help you out.</p>
      </div>
    </div>
  </div>
</section>