---

---

<section class="section about" id="tech">
  <div class="about__content">
    <div class="about__copy">
      <h2>Technologies</h2>
      <p>Here are some of the technologies that I love to work with:</p>
      <ul class="tech-list pl-4 list-disc">
        <li>HTML5</li>
        <li>CSS3 - Sass / Styled Components / Tailwind / Bootstrap</li>
        <li>JavaScript - Vanilla / React / jQuery</li>
        <li>Frameworks - Gatsby / Nextjs / Remix run / Astro build</li>
        <li>PHP / Node</li>
        <li>GraphQL / Mysql</li>
        <li>WordPress / Contentful / Headless CMS's</li>
        <li>AWS, Cloudflare, Netlify</li>
        <li>Github / CI + CD</li>
        <li>Figma, Adobe Suite</li>
      </ul>
    </div>
  </div>
</section>