---

---

<section class="section about relative before:w-[90%] before:h-[70%] before:absolute before:z-[1] before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-gray-50" id="tech">
  <div class="about__content">
    <div class="about__copy">
      <h2>Technologies</h2>
      <p>Here are some of the technologies that I love to work with:</p>
      <ul class="tech-list pl-4 list-disc">
        <li>HTML5</li>
        <li>CSS3 - Tailwind / Sass / Styled Components / Bootstrap</li>
        <li>JavaScript - Vanilla / React / jQuery</li>
        <li>Frameworks - Astro build / Nextjs / Gatsby /Remix run</li>
        <li>PHP / Node</li>
        <li>GraphQL / Mysql</li>
        <li>WordPress / Contentful / Headless CMS's</li>
        <li>AWS, Cloudflare, Netlify</li>
        <li>Github / CI + CD</li>
        <li>Figma, Adobe Suite</li>
      </ul>
    </div>
  </div>
</section>