---
import Layout from "@/layouts/Layout.astro";
import Landing from "@/components/sections/Landing.astro";
import About from "@/components/sections/About.astro";
import Services from "@/components/sections/Services.astro";
import Work from "@/components/sections/Work.astro";
import Tech from "@/components/sections/Tech.astro";
import Contact from "@/components/sections/Contact";
---
<Layout title="Web Design & Development | Basingstoke and London | Simon Richards">
	<main class="content-wrap">
		<Landing />
		<About />
		<Services />
		<Work />
		<Tech />
		<Contact client:only="react" />
	</main>
</Layout>